
h1 {font-family: 'Orbitron', sans-serif;}
hr {
    border: none;
    border-bottom: 1px solid rgba(120,120,120,.3);
}
.img-row img {
    margin: 10px;
}
.img-shadow {
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}
.img-hidden {
    display: none;
}
#jacket-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
#jacket-list li {
    flex: 1 1 auto;
    width: 200px;
}