<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="BEMANI Music Jackets">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sdvx.net/bemani_jackets">
  <meta property="og:image" content="https://sdvx.net/assets/ogp/bmj_tw.png">
  <meta property="og:site_name" content="BEMANI Music Jackets">
  <meta property="og:description" content="BEMANIジャケット画像を一覧表示！">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@anon5r">

  <link href="https://fonts.googleapis.com/css?family=Orbitron:500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link href="/assets/bemani_jackets.css" rel="stylesheet">
  <link href="/assets/icons/favicon.ico" rel="icon">
  <link href="/assets/icons/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="/assets/icons/apple-touch-icon-57x57.png" sizes="57x57" rel="apple-touch-icon">
  <link href="/assets/icons/apple-touch-icon-76x76.png" sizes="76x76" rel="apple-touch-icon">
  <link href="/assets/icons/apple-touch-icon-120x120.png" sizes="120x120" rel="apple-touch-icon">
  <link href="/assets/icons/apple-touch-icon-152x152.png" sizes="152x152" rel="apple-touch-icon">
  <link href="/assets/icons/apple-touch-icon-180x180.png" sizes="180x180" rel="apple-touch-icon">
  <link href="/assets/icons/apple-touch-icon-57x57.png" sizes="57x57" rel="icon">
  <link href="/assets/icons/apple-touch-icon-76x76.png" sizes="76x76" rel="icon">
  <link href="/assets/icons/apple-touch-icon-120x120.png" sizes="120x120" rel="icon">
  <link href="/assets/icons/apple-touch-icon-152x152.png" sizes="152x152" rel="icon">
  <link href="/assets/icons/apple-touch-icon-180x180.png" sizes="180x180" rel="icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript" src="/assets/bemani_jackets.js" defer></script>
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFGWT5J');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFGWT5J"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<h1>BEMANI Music Jackets</h1>
<div id="app">
  <div class="ui three column stackable grid container">
    <div class="ui column">
      <div class="ui form">
        <div class="field">
          <select name="game" id="select-game" class="ui search dropdown" v-model="game" @change="">
            <option value="" disabled selected>Select Game</option>
            <option v-for="(value, code) in arcadeList" :value="code">{{ value }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="ui column">
      <div class="ui form">
        <div class="field">
          <select name="month" id="select-month" class="ui search dropdown" v-model="ym">
            <option value="" disabled selected>Select Date</option>
            <option v-for="dateObj in dateList" :value="dateObj.key">{{ dateObj.date }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="ui column"></div>
  </div>
  <hr>
  <div class="ui segment" v-if="loaded">
    <ul id="jacket-list">
      <li class="img-row">
        <img-jacket v-for="(num, index) in 30" :ym="ym" :game="game" :num="index" />
      </li>
    </ul>
  </div>
  <div v-else class="ui segment" id="img-empty">
    <p>筐体と日付を選択してください。</p>
    <p>主に前月以前に追加された楽曲のジャケット画像を一覧できます。ただし月が変わった直後は表示できません。<a href="https://p.eagate.573.jp/game/bemani/fansite/p/">BEMANI Fan Site</a>が更新されると表示されます。</p>
    <p>版権曲や外部権利楽曲についてはここに表示されないことが多いです。</p>
    <div>
      <div class="field">
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=BEMANI楽曲ジャケット"
           data-size="large">
          Tweet</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>