<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="BEMANI Music Jackets">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sdvx.net/bemani_jackets">
  <meta property="og:image" content="https://sdvx.net/assets/ogp/bmj_tw.png">
  <meta property="og:site_name" content="BEMANI Music Jackets">
  <meta property="og:description" content="BEMANIのジャケットを一覧できます">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@anon5r">

  <link href="https://fonts.googleapis.com/css?family=Orbitron:500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link href="/assets/bemani_jackets.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript" src="/assets/bemani_jackets.js" defer></script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFGWT5J');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFGWT5J"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<h1>BEMANI Music Jackets</h1>
<div id="app">
  <div class="ui two column stackable grid container">
    <div class="ui column">
      <div class="ui form">
        <div class="field">
          <select name="game" id="select-game" class="ui search dropdown" v-model="game" @change="">
            <option value="">&lt;Select Game&gt;</option>
            <option v-for="(value, code) in arcadeList" :value="code">{{ value }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="ui column">
      <div class="ui form">
        <div class="field">
          <select name="month" id="select-month" class="ui search dropdown" v-model="ym">
            <option value="">&lt;Select Date&gt;</option>
            <option v-for="dateObj in dateList" :value="dateObj.key">{{ dateObj.date }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="ui segment" v-if="loaded">
    <ul id="jacket-list">
      <li class="img-row">
        <img-jacket v-for="num in 30" :ym="ym" :game="game" :num="num" />
      </li>
    </ul>
  </div>
  <div v-else class="ui segment" id="img-empty">
      筐体と日付を選択してください。
  </div>
</div>
</body>
</html>